{{#if products}}
<h1>Productos seleccionados</h1>
<div>
    {{#each products}}
    <div>
        <p><strong>Nombre:</strong> {{this.description}}</p>
        <p><strong>Precio:</strong> ${{this.price}}</p>
        <p><strong>Categoría:</strong> {{this.category}}</p>
        <p><strong>Código:</strong> {{this.code}}</p>
        <p><strong>Stock:</strong> {{this.stock}}</p>
        <p><strong>Estado:</strong> {{this.status}}</p>
        
    </div>
    <br />
    {{/each}}
</div>
{{else}}
<h1>No hay productos</h1>
{{/if}}